<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mirage.todolist">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <!--suppress DeprecatedClassUsageInspection -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:name="com.mirage.todolist.di.App"
        android:icon="@drawable/mirage_todo_app_icon_filled"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mirage_todo_app_icon_filled"
        android:supportsRtl="true"
        android:theme="@style/Theme.TodoApp">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}" />
        <activity
            android:name=".ui.lockscreen.LockScreenActivity"
            android:icon="@drawable/mirage_todo_app_icon_filled"
            android:roundIcon="@drawable/mirage_todo_app_icon_filled"
            android:label="@string/app_name"
            android:theme="@style/Theme.TodoApp.LockScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.todolist.TodolistActivity"
            android:launchMode="singleTop"
            android:icon="@drawable/mirage_todo_app_icon_filled"
            android:roundIcon="@drawable/mirage_todo_app_icon_filled"
            android:label="@string/drawer_btn_tasks"
            android:theme="@style/Theme.TodoApp.TodolistActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ui.edittask.EditTaskActivity"
            android:icon="@drawable/mirage_todo_app_icon_filled"
            android:roundIcon="@drawable/mirage_todo_app_icon_filled"
            android:label="@string/edit_task_toolbar_edit"
            android:theme="@style/Theme.TodoApp.EditTaskActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:icon="@drawable/mirage_todo_app_icon_filled"
            android:roundIcon="@drawable/mirage_todo_app_icon_filled"
            android:label="@string/settings_activity_title"
            android:theme="@style/Theme.TodoApp.SettingsActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ui.location.LocationActivity"
            android:icon="@drawable/mirage_todo_app_icon_filled"
            android:roundIcon="@drawable/mirage_todo_app_icon_filled"
            android:label="@string/location_activity_title"
            android:theme="@style/Theme.TodoApp.LocationActivity"
            android:exported="false">
        </activity>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove">
        </provider>
    </application>
</manifest>